body{
    background-color: black !important;
}

body, html {
    height: 100%;
    color: rgba(0,0,0,.87);
    background: black;
    position: relative;
}

.item {
    color: black;
    background:white;
    margin-top: 1em;
}