#bdColor{
    background-color: black !important;
     background: fixed;
}
.item {
    background:white;
    width:440px;
    padding-bottom:30px;
    margin:0 auto 2em;
}

.itemhead {
    background: white;
    padding:30px;
    overflow:hidden;
    position:relative;
}

.ng-scope{
    height: 100%;
}