<div class="container-fluid">
    <div class="clearfix col-sm-12">
        <div class="row question" ng-repeat="question in queCtrl.questions">
            <div class="item  col-sm-6 col-sm-offset-3">
                <div class="col-sm-6 col-xs-11">
                    <div class="itemhead">
                        <h2>{{question.username}}</h2>
                        <p>{{question.question}}</p>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-push-5">
                    <div class="glyphicon glyphicon-open">
                   
                    </div>
                </div>
                <div class="col-sm-5 col-sm-pull-1">
                    <div class="text-center">
                        <img src="{{queCtrl.randImg()}}" class="img-responsive img-rounded" id="img"/>
                    </div>
                </div>

                <div class="col-sm-12">
                    <button class="btn btn-raised btn-danger" ng-click="queCtrl.delete(question)">Delete</button>
                    <button class="btn btn-raised btn-success" ng-click="queCtrl.delete(question)">Helped</button>
                </div>
            </div>
        </div>
    </div>
</div>